*{
    margin: 0px;
    padding:0px; 
}
header {
    background-color: rgb(247, 222, 156);
    width: 100vw;
}

/* logo y titulo HEADER  */

.header__section {
    height: 190px;
    display: flex;
    justify-content: center;
}

.header__logo {  /* posicionar en el centro */
    height: 170px;
    display: inline;
}

.header__title { /* encabezado, posicionar en el centro */
    font-family: 'Amatic SC', cursive;
    font-size: 120px;
    color:#060c64;
    display: inline;
}

.header__subtitle { /* subtitulo, posicionar en el centro*/
    font-family: 'Sacramento', cursive;
    font-size: 30px;
    color:#06641d;
}


.header__navegacion {/* lista menú */
    border: 2px solid #06641d;
    background-color: #e4b269;
    padding: 1px;
}

.header__lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style:none;
    margin-left: 300px;
    margin-right: 300px;
}

.header__item { /* lista menú */
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    padding: 10px 15px;
}

/* COLOR VÍNCULOS  */
a{
    color: #06641d;
}
a:hover{
    color: #06641d
}
a:active{
    color: #06641d
}
a:visited{
    color: #06641d
}

/* INICIO DEL MAIN */
main {
    font-family: 'Rubik', sans-serif;
    background-color: rgb(247, 222, 156);
    width: 100vw;
}

/* BLOQUE HOME */
.main__index {   /* productos grid */
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:"brasil nuevayork mexico"
                        "brasil playagrande mexico"
                        "centralpark playagrande cenote"
                        "brooklyn chichen timewarp"
                        "brooklyn chichen timewarp";
    row-gap: 10px;
    column-gap: 10px;
    border: #e4b269 solid 1px;
    padding: 10px;
}

/* IMAGENES HOME GRID*/

.brasil{
    grid-area: brasil;
    background-image: url("../resources/brasil.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.playagrande {
    grid-area: playagrande;
    background-image: url("../resources/playaverde.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.nuevayork{
    grid-area: nuevayork;
    background-image: url("../resources/nueva-york.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cenote{
    grid-area: cenote;
    background-image: url("../resources/cenotecancun.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.mexico{
    grid-area: mexico;
    background-image: url("../resources/mexico.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.centralpark{
    grid-area: centralpark;
    background-image: url("../resources/nyc3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.brooklyn{
    grid-area: brooklyn;
    background-image: url("../resources/nyc2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.chichen{
    grid-area: chichen;
    background-image: url("../resources/cancun-turism.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.timewarp{
    grid-area: timewarp;
    background-image: url("../resources/timewarp.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.main__titulopais { /* título país  */
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
    color: rgb(6, 100, 29);
    padding: 20px 20px 00px 10px;
    margin-left: 40px;
}

.main__titulociudad { /* título ciudad */
    background-color: #e4b269;
    font-size: 30px;
    font-weight: bold;
    color:rgb(6, 100, 29);
    padding: 10px 10px 10px 70px;
    margin-top: 10px;
}

/* Secciones del main */
section {
    overflow: hidden;
}


p { /* TEXTOS DESCRIPTIVOS E INFO */
    font-size: 19px;
    width: 500px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: left;
    padding: 20px 20px 20px 20px;
}

.main__maps {
    height: 400px;
    width: 600px;
    padding: 20px 20px 20px 20px;
    margin-bottom: 30px;
}

.main__videoTW {
    width: 600PX; 
    height: 400px;
    background-color: #e4b269;
    padding: 20px 20px 20px 10px;
    margin-top: 20px;
}

/* INICIO SECCION CON IMAGEN + TIP  */

/* TIP VIAJE DERECHA */
.tipright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


/* IMAGENES SECCION + TIP */
.main__img-mediumtip {
    display: flex;
    flex-direction: column;
    background-color: #e4b269;
    width: 600px;
    height: 300px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 10px;
}

p { /* TEXTOS DESCRIPTIVOS E INFO */
    font-size: 19px;
    width: 600px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: center;
    padding: 30px
}

.main__maps {
    height: 400px;
    width: 600px;
    padding: 20px;
    margin-bottom: 30px;
}

.main__videoTW {
    width: 600PX; 
    height: 400px;
    background-color: #e4b269;
    padding: 20px 20px 20px 10px;
    margin-top: 20px;
}

/* COMIENZO DE ARTICULOS TIP  */

.article__tip {  /* BLOQUE DE ARTICULO */
    width: 500px;
    background-color: #e4b269;
    margin: 30px;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.article__title { /* TITULO DE ARTICULO */
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    color:rgb(6, 100, 29);
    padding: 10px;
    margin-top: 10px;
}

.article__imgtip{ /* IMAGEN DE ARTICULO TIP */
    background-color: rgb(247, 222, 156);
    width: 400px;
    height: 300px;
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
}

.article__parrafo { /* TEXTO DE ARTICULO TIP */
    font-size: 17px;
    width: 450px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: left;
    padding: 20px 20px 20px 20px;
}

.article__maps {
    height: 400px;
    width: 400px;
    padding: 10px;
    margin-bottom: 30px;
}

/* TITULO FORMULARIO */
.main__contacttitle {
    background-color: #e4b269;
    font-size: 30px;
    font-weight: bold;
    color:rgb(6, 100, 29);
    padding: 10px 10px 10px 70px;
    margin-top: 20px;
}

/* FORMULARIO */
.article__forum {
    width: 600px;
    background-color: #e4b269;
    margin: 50px;
    padding: 50px;
}



/*  COMIENZO DEL FOOTER */
footer {
    font-family: 'Rubik', sans-serif;
    background-color: #e4b269;
    border: 2px solid #06641d
}

/* SECCIONES DEL FOOTER  */
.footer__redsocial {
    height: 120px;
    font-size: 17px;
}

.footer__title {
    color:#06641d;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
}

/* LOGO REDES */
.footer__redes {
    width: 40px;
    padding: 10px;
    margin-left: 10px;
}

.footer__contacto {
    height: 50px;
    margin-left: 0px;
    padding: 10px;
}

.footer__derechos {
    text-align: left;
    padding: 0px 20px 20px 10px;
}


/* MEDIA DE CELULAR */
@media (min-width: px) and (max-width: 575px){
    .header__lista {
        flex-direction: column;
        flex-grow: 0;
        justify-content: center;
    }
    
    .header__navegacion{
        flex-direction: column;;
    }
    .header__section{
        flex-direction: column;
        justify-content: center;
    }

    .main__index {   /* productos grid */
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas:"brasil"
                            "nuevayork" 
                            "mexico"
                            "playagrande"
                            "centralpark"
                            "cenote"
                            "brooklyn" 
                            "chichen" 
                            "timewarp";
}


footer{
    flex-direction: column;
    justify-content: center;
}



/*  media querie TABLA */
@media (min-width: 576px) and (max-width: 992px){
    .main__index {   /* productos grid */
        height: auto;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:"brasil nuevayork mexico"
                            "playagrande centralpark cenote"
                            "brooklyn chichen timewarp";
    }
}
}