footer {
    height: 100%;
    font-family: 'Rubik', sans-serif;
    background-color: $color-secundario;
    border: 1px solid #06641d;


    .footer {
        &__title{
            color:#06641d;
            text-align: center;
            padding: 10px;
        }


        &__grupo-1 {
            display: flex;
            justify-content: center;
        } 

        &__redes  {
            display: flex;
            justify-content: center;
            text-decoration: none;
            width: 35px;
            height: 35px;
            margin: 10px
        }

        &__grupo-2 {
            padding: 5px;
            margin: 10px;
            color:#06641d;
            display: flex;
            justify-content: center;
    
        }
    }
}
