@media (min-width: 320px) and (max-width: 575px){
.header__logo {  /* posicionar en el centro */
    height: 0px;

}

.header__title { /* encabezado, posicionar en el centro */
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }
        

.header__subtitle { /* subtitulo, posicionar en el centro*/
    display: flex;
    justify-content: center;
    font-size: 30px;
    padding: 20px 0px 0px 0px;
    }
        
.header__lista {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}
        
.header__item { /* lista menú */
    font-size: 20px;
    padding: 3px;
    display: flex;
    justify-content: center;
}

.header__navegacion{
    display: flex;
    justify-content: center;
}

.header__section{
    flex-direction: column;
    justify-content: center;
}

.main__index {   /* productos grid */
    height: 1500px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:"brasil"
                        "nuevayork" 
                        "mexico"
                        "playagrande"
                        "centralpark"
                        "cenote"
                        "brooklyn" 
                        "chichen" 
                        "timewarp";
}

.main__titulopais { /* título país  */
    font-size: 30px;
    padding: 10px;
    margin-left: 20px;
}

.main__titulociudad { /* título ciudad */
    font-size: 20px;
    padding: 10px 10px 10px 30px;
}

p { /* TEXTOS DESCRIPTIVOS E INFO */
    font-size: 15px;
    width: 300px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    margin: 10px;
    
}

.main__img-mediumtip {
    display: flex;
    justify-content: center;
    width: 100px;
    height: 50px;
    padding: 10px;
    margin-left: 10px;
}

.main__maps {
    height: 300px;
    width: 320px;
    padding: 10px;
}

.article__tip {  /* BLOQUE DE ARTICULO */
    width: 320px;
    margin: 20px;
    padding: 10px;
    display: flex;
    flex-direction: center;
}

.article__imgtip{ /* IMAGEN DE ARTICULO TIP */
    display: flex;
    justify-content: center;
    width: 280px;
    height: 200px;
    padding: 10px;
    margin-top: 20px;
}

.article__parrafo { /* TEXTO DE ARTICULO TIP */
    font-size: 15px;
    width: 280px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: left;
    padding: 10px;
}

.article__maps {
    height: 200px;
    width: 290px;
    padding: 10px;
    margin-bottom: 30px;
}

/* FORMULARIO */
.article__forum {
    width: 100%;
    margin: 10px;
    padding: 15px;
}

.forum__subtitle {
    font-size: 20px;
    width: 350px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: center;
    padding: 10px 10px 10px 0px;
}

.article__parrafonyc { /* TEXTO DE ARTICULO TIP */
    display: flex;
    font-size: 17px;
    width: 450px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.mapanyc{
    margin-top: 20px;
    padding:10px;
    width: 200px;
    height: 300px;
}

.main__contacttitle {
    font-size: 20px;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
}

/* * SECCIONES DEL FOOTER  */
footer{
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
}

.footer__redsocial {
    height: 55px;
    display: flex;
    justify-content: center;
}

.footer__title {
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 20px;
    width: 100vw;
    height: 40px;
}

/* LOGO REDES */
.footer__redes {
    display: flex;
    justify-content: center;
    width: 40px;
    padding: 5px;
    margin-left: 15px;
}

.footer__contacto {
    width: 100vw;
    height: 40px;
    padding: 5px;
}

.footer__derechos {
    display: flex;
    justify-content:center;
    width: 100vw;
}

.parrafo_derechos { /* TEXTOS DESCRIPTIVOS E INFO */
    font-size: 10px;
    width: 250px;
    height: 20px;
    word-spacing: 1px;
    line-height: 10px;
    padding: 1px;
    margin: 1px;
}

/*  media querie TABLA */
@media (min-width: 576px) and (max-width: 992px){
    .header{
        &__logo {  /* posicionar en el centro */
            height: 0px;
        }

        .main__index {   /* productos grid */
            height: auto;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas:"brasil nuevayork mexico"
                                "playagrande centralpark cenote"
                                "brooklyn chichen timewarp";
        }
    }
/* FORMULARIO */
.article__forum {
    width: 550px;
    background-color: #e4b269;
    margin: 50px;
    padding: 20px;
}

.forum__subtitle {
    font-size: 20px;
    width: 500px;
    word-spacing: 1px;
    line-height: 20px;
    text-align: left;
    padding: 30px 10px 20px 0px
}
}
}